/* GLOBAL */

* {
    margin: 0;
    font-family: 'Verdana', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* CONTAINERS */

#content {
    display: flex;

    width: 100vw;
    height: 100vh;
}

#avatarContainer {

}

#outputContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: 50vw;
    height: 100vh;
    /* padding: 2.5em; */
}

#transcriptContainer {
    width: 45vw;
}


#queryInputContainer {

}

#queryOutput {

}

#inputButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 45vw;
}

/* PROPERTIES */

h1 {
    text-align: center;
    margin: 2.5em;
}

input {
    margin: 0.5em;
}

#userInput {
    width: 100%;
    height: 2.5em;
}

#submitButton {
    padding: 0.5em;
}

#queryOutput {

}

.outputName {
    font-weight: bold;
}

#outputPlace {

}

.transcriptEntry {
}

.transcriptName {
    margin-left: 0.5vw;
    font-size: 90%;
    font-style: italic;
}

.transcriptText {
    background-color: #dedede;
    padding: 1vw;
    margin-bottom: 1em;
    border-radius: 0.5em;

}