* {
    margin: 0;
    font-family: 'Verdana', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#content {
    display: flex;

    width: 100vw;
    height: 100vh;
}

h1 {
    text-align: center;
    margin: 2.5em;
}

input {
    margin: 0.5em;
}

#userInput {
    width: 35vw;
    height: 2.5em;
}

#submitButton {
    padding: 0.5em;
}

#outputContainer {
    padding: 2.5em;
}

#queryOutput {

}

.outputName {
    font-weight: bold;
}

#outputPlace {

}

/* Avatar */

#avatarContainer {

}