/* GLOBAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Verdana', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F0F0F0;
    overflow-x: hidden;
}

/* CONTAINERS */
#content {
    display: flex;

    width: 100vw;
    height: 100vh;
}

#avatarContainer {
    width: 50vw;
    height: 100vh
}

#outputContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: 50vw;
    height: 100vh;
    /* padding: 2.5em; */
}

#transcriptContainer {
    height: fit-content;
    margin-top: 5vh;
    overflow: auto;


    position: relative;
    top: 1em;
}


#queryInputContainer {
    position: relative;
    bottom: 1em;
    margin-top: 2.5em;
}

#queryOutput {

}

#inputButtons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45vw;
    align-items: center;
    justify-self: center;
    position: relative;
}

/* PROPERTIES */

h1 {
    text-align: center;
    margin: 2.5em;
}

input {
    margin: 1.5em;
}

#userInput {
    width: 100%;
    height: 2.5em;
}

#start {
    background-color: #007AFF;
    border-radius: 100%;
    border-color: rgba(0, 255, 255, 0);
    width: 5em;
    height: 5em;
    /*align-self: center;*/
}

#start-image {
    width: 2.5em;
    height: 2.5em;
}

#queryOutput {
    width: 80%;
    background-color: #D9D9D9;
    padding: 1vw;
    margin-bottom: 1em;
    border-radius: 0.5em;
    margin-left: 2vw;
}

.outputName {
    font-weight: bold;
}

#outputPlace {

}

/* Chat History */

.boxLeft {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.boxRight {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
}

.transcriptName {
    margin: 0 2.5em;
    font-size: 90%;
    font-style: italic;
    width: fit-content;
}

.transcriptText {
    background-color: #D9D9D9;
    padding: 1em;
    border-radius: 0.5em;
    margin: 0 2em 1em 2em;
    width: fit-content;
    max-width: 60%;
}

.hidden {
    display: none;
}

#chatHistory {
    width: 100%;
    height: 100%;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
}

.chatEntry {
    margin-bottom: 1em;
    margin-left: 2vw;
    padding: 1em;
    border-radius: 0.5em;
    width: 70%;
}

.chatUserEntry {
    margin-bottom: 1em;
    margin-right: 2vw;
    justify-content: right;
    align-self: flex-end;
    display: flex;
    padding: 1em;
    border-radius: 0.5em;
    width: 70%;
}

.userQuery {
    background-color: #D9D9D9;
    font-weight: bold;
    padding: 1em;
    border-radius: 0.5em;
    margin-bottom: 0.5em;
}

.resultsContainer {
    background-color: #D9D9D9;
    padding: 1em;
    border-radius: 0.5em;
}

@media only screen and (orientation: portrait) {
    #content {
        display: flex;
        flex-direction: column;

        width: 100vw;
        height: 100vh;
    }

    #avatarContainer {
        width: 100vw;
        height: 50vh
    }

    #outputContainer {
        display: flex;
        flex-direction: column-reverse;

        width: 100vw;
        height: 50vh;
    }

    #transcriptContainer {
        width: fit-content;
        margin-bottom: 5vh;
        overflow: auto;

        position: relative;
        bottom: 1em;
    }

    #chatHistory {
        width: 100vw;
        height: 100%;
        margin-bottom: 1em;
        display: flex;
        flex-direction: column-reverse;
    }

    #queryInputContainer {
        width: 100%;
        height: 30%;
        margin-bottom: 5vh;
    }


}

/*#outputContainer {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: space-around;*/

/*    width: 50vw;*/
/*    height: 100vh;*/
/*    !* padding: 2.5em; *!*/
/*}*/




/*#queryInputContainer {*/
/*    position: relative;*/
/*    bottom: 1em;*/
/*    margin-top: 2.5em;*/

/*}*/