/* GLOBAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: Helvetica, Arial, sans-serif;*/
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F0F0F0;
}

/* CONTAINERS */
#content {
    display: flex;
    background-color: #D9D9D9;

    background-image: url("./../../public/img/scholle_landscape.png");
    background-size: cover;
    background-repeat: no-repeat;

    width: 100vw;
    height: 100vh;
}

#avatarContainer {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 16%;
    left: 3%;
}

#outputContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50vw;
    height: 100vh;
    /* padding: 2.5em; */
}

#transcriptContainer {
    box-sizing: border-box;
    margin-top: 3em;
    overflow-y: auto;

    position: relative;
    /*box-shadow: 0 -2em 1em -1em #000000 inset;*/
}

query-input {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}


#queryInputContainer {
    position: relative;
}

#inputButtons {
    display: flex;
    flex-direction: row;
    width: 45vw;
    align-items: center;
    justify-self: center;
    position: relative;
    margin-bottom: 3em;
}

/* PROPERTIES */

h1 {
    text-align: center;
    margin: 2.5em;
}

#userInput {
    width: 80%;
    height: 2.5em;
    padding: 1em;
    margin-right: 2.5em;
    background-color: #F0F0F0;
    border-radius: 0.5em;
    border: 0 solid #005691;
    outline: 0;
    font-size: 1em;
    transition: 0.1s linear all;
}

#userInput:focus {
    padding: 0.8em;
    border: 0.2em solid #005691;
}

#start {
    border: none;
    width: 4em;
    height: 4em;
    background-color: rgba(0, 0, 0, 0);
}

#queryOutput {
    width: 80%;
    background-color: #D9D9D9;
    padding: 1vw;
    margin-bottom: 1em;
    border-radius: 0.5em;
    margin-left: 2vw;
}

.outputName {
    font-weight: bold;
}

/* Checkbox */
#switchToAIWrapper {
    position: absolute;
    left: 2vw;
    top: 1.5vw;
    margin: 1em;
    scale: 1.5;
}


/* Chat History */

.boxLeft {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.boxRight {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
}

.boxLeft .transcriptText {
    border-radius: 0 0.5em 0.5em 0.5em;
}

.boxRight .transcriptText {
    border-radius: 0.5em 0 0.5em 0.5em;
}

.transcriptName {
    margin: 0.15em 2.5em;
    font-size: 90%;
    font-style: italic;
    width: fit-content;
    color: #8E8D94;
}

.transcriptText {
    background-color: #F4F4F4;
    padding: 1em;
    margin: 0 2em 1em 2em;
    width: fit-content;
    max-width: 60%;
}

.hidden {
    display: none;
}

#chatHistory {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.chatEntry {
    margin-bottom: 1em;
    margin-left: 2vw;
    padding: 1em;
    border-radius: 0.5em;
    width: 70%;
}

.chatUserEntry {
    margin-bottom: 1em;
    margin-right: 2vw;
    justify-content: right;
    align-self: flex-end;
    display: flex;
    padding: 1em;
    border-radius: 0.5em;
    width: 70%;
}

.userQuery {
    background-color: #D9D9D9;
    font-weight: bold;
    padding: 1em;
    border-radius: 0.5em;
    margin-bottom: 0.5em;
}

.resultsContainer {
    background-color: #D9D9D9;
    padding: 1em;
    border-radius: 0.5em;
}

@media only screen and (orientation: portrait) {
    #content {
        display: flex;
        flex-direction: column;

        background-image: url("./../../public/img/eisbaer-scholle_portrait.png");

        width: 100vw;
        height: 100vh;
    }

    #avatarContainer {
        width: 100vw;
        height: 40vh;
    }

    #outputContainer {
        display: flex;

        width: 100vw;
        height: 60vh;
    }

    .transcriptText {
        font-size: 1rem;
    }

    #transcriptContainer {
        margin-bottom: 1em;


        position: relative;
        bottom: 1em;
        top: unset;
    }

    #inputButtons {
        width: 65vw;
        flex-direction: column;
    }

    #userInput {
        margin-right: 0;
        margin-bottom: 2em;
    }
}
